<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon><a routerLink='/home'>home</a></mat-icon>
    </button>
    <span id="keeptitle">Keep Note</span>   
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon><a routerLink="/login">login</a></mat-icon>
    </button>
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon><a routerLink='login'>logout</a></mat-icon>
    </button>
</mat-toolbar>